<ion-header>
  <ion-toolbar class="header">
    <ion-title>Shiny Hunts</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="hunt">
        <ion-label>Hunting</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="shiny">
        <ion-label>Shinies</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
