<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img class="bg-tab" src="../../assets/theme/pokeball-logo.png" alt="pokeball-logo"></ion-img>
    <ion-title class="header-title">
      <ion-buttons slot="start">
        <ion-back-button color="danger" defaultHref="menu"></ion-back-button>
      </ion-buttons>
      Shiny Hunts
    </ion-title>
    <ion-item lines="none">Shiny Pokémon can differ in color from their normal counterparts very little (so very little) or very much. To begin shiny hunting, you first need to choose which Pokemon you want to hunt. Get armed with patience and good luck hunter!</ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="hunt">
        <ion-label>Hunting</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="shiny">
        <ion-label>Shinies</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
