<ion-content fullscreen>
  <ion-button *ngFor="let pkmn of pkmnList"
              class="btn-hunt"
              [style]="{'--background': getTypeColor(pkmn.types[0])}"
              (click)="onGoToName(pkmn.nameEnglish)">

    <div class="pkmnNumber">#{{pkmn.idNational}}</div>
    <div class="pkmnName">{{pkmn.nameEnglish}}</div>

    <ion-title class="counterTitle">Counter: {{pkmn.counter}}</ion-title>

    <div class="icon"></div>
    <ion-img class="pkmnRegularForm" slot="end" [src]="pkmn.regularForm"></ion-img>

  </ion-button>

  <ion-button class="btn-add" routerLink="/new" routerDirection="forward">
    +
  </ion-button>
</ion-content>