<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{pokemon.nameEnglish}}</ion-title>
    <ion-title slot="end" *ngIf="pokemon.idNational < 10">#00{{pokemon.idNational}}</ion-title>
    <ion-title slot="end" *ngIf="pokemon.idNational >= 10 && pokemon.idNational < 100">#0{{pokemon.idNational}}</ion-title>
    <ion-title slot="end" *ngIf="pokemon.idNational >= 100">#{{pokemon.idNational}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen appSwipe (swipeLeft)="onSwipeLeft($event)">

  <div class="bg-hunt-detail">

    <ion-label class="hunt-name">{{pokemon.nameEnglish}}</ion-label>

    <div class="shinyBlock">
      <ion-col class="btn-change-view" (click)="changeView = !changeView">
        <img class="hunt-detail" [src]="pokemon.shinyAnimation" *ngIf="changeView">
        <img class="hunt-detail" [src]="pokemon.regularAnimation" *ngIf="!changeView">
      </ion-col>
      <ion-title class="hunt-counter">{{pokemon.counter}}</ion-title>
    </div>

    <button class="btn-add" (click)="onAddCounter(pokemon.id)"></button>

  </div>

</ion-content>
