<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-img class="bg-new" src="../../assets/theme/pokeball-logo.png" alt="pokeball-logo"></ion-img>
    <ion-title class="header-title">Pokédex</ion-title>
    <ion-searchbar color="light" placeholder="Search for a Pokemon" animated (ionInput)="findPokemon($event)"></ion-searchbar>
    <ion-item lines="none">The Pokédex contains detailed stats for every creature from the Pokémon games. Use the Advanced Search to explore Pokémon by type, region, name, and more (to come) !</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen appSwipe (swipeLeft)="onSwipeLeft($event)">

  <ion-button *ngFor="let pkmn of pkmnList"
              [style]="{'--background': getTypeColor(pkmn.types[0])}"
              (click)="onGoToName(pkmn.nameEnglish)">

    <div class="pkmnNumber" *ngIf="pkmn.idNational < 10">#00{{pkmn.idNational}}</div>
    <div class="pkmnNumber" *ngIf="pkmn.idNational >= 10 && pkmn.idNational < 100">#0{{pkmn.idNational}}</div>
    <div class="pkmnNumber" *ngIf="pkmn.idNational >= 100">#{{pkmn.idNational}}</div>
    <div class="pkmnName">{{pkmn.nameEnglish}}</div>

    <img class="typeIcon" [src]="getTypeIcon(pkmn.types[0])">
    <img class="typeIcon2" *ngIf="pkmn.types[1] !== undefined" [src]="getTypeIcon(pkmn.types[1])">

    <div class="icon" *ngIf="pkmn.types[1] !== undefined" [style]="{'background': getTypeColor(pkmn.types[1])}"></div>
    <div class="icon" *ngIf="pkmn.types[1] === undefined"></div>
    <ion-img class="pkmnRegularForm" slot="end" [src]="pkmn.regularForm"></ion-img>

  </ion-button>

  <ion-infinite-scroll (ivaonInfinite)="loadMorePokemon($event)" [disabled]="count >= tmpList.length">
    <ion-infinite-scroll-content loadingText="Capturing more Pokemons">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>