<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="new"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-num" slot="end" *ngIf="pokemon.idNational < 10">#00{{pokemon.idNational}}</ion-title>
    <ion-title class="header-num" slot="end" *ngIf="pokemon.idNational >= 10 && pokemon.idNational < 100">#0{{pokemon.idNational}}</ion-title>
    <ion-title class="header-num" slot="end" *ngIf="pokemon.idNational >= 100">#{{pokemon.idNational}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen
             appSwipe (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)"
             [style]="pokemon.types[1] !== undefined ? {'--background': 'linear-gradient(' + getTypeColor(pokemon.types[0]) + ',' + getTypeColor(pokemon.types[1]) + ')'}
                       :  {'--background': 'linear-gradient(' + getTypeColor(pokemon.types[0]) + ',' + getTypeColor(pokemon.types[0]) + '99 )'}">

  <ion-grid>
    <ion-row class="firstRow">
      <ion-col class="ion-margin">
        <ion-item lines="none">
          <ion-img class="bg-new-detail" src="./assets/theme/pokeball-logo-detail.png" alt="pokeball-logo"></ion-img>
          <ion-img class="main-img" [src]="pokemon.regularForm"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="desc">
        <ion-title class="pkmnName">{{pokemon.nameEnglish}}</ion-title>
        <img class="typeIcon" [src]="getTypeIcon(pokemon.types[0])">
        <img class="typeIcon2" *ngIf="pokemon.types[1] !== undefined" [src]="getTypeIcon(pokemon.types[1])">
      </ion-col>
    </ion-row>



    <ion-title class="evolutionTitle" *ngIf="evolutionList.length != 0">Evolution Tree</ion-title>
    <ion-row class="evolutionRow" *ngIf="evolutionList.length != 0">
      <ion-col class="evolutionCol" *ngFor="let pkmn of evolutionList">
        <button class="btn-new" [style]="{'background': getTypeColor(pkmn.types[0])}" routerLink="/new/{{pkmn.nameEnglish}}" routerDirection="root">
          <img class="evolutionImg" [src]="pkmn.regularForm">

          <ion-title class="imgTitle" *ngIf="pkmn.idNational < 10">#00{{pkmn.idNational}}</ion-title>
          <ion-title class="imgTitle" *ngIf="pkmn.idNational >= 10 && pkmn.idNational < 100">#0{{pkmn.idNational}}</ion-title>
          <ion-title class="imgTitle" *ngIf="pkmn.idNational >= 100">#{{pkmn.idNational}}</ion-title>

          <ion-title class="imgTitle">{{pkmn.nameEnglish}}</ion-title>
        </button>
      </ion-col>
    </ion-row>


    <ion-title class="formTitle" *ngIf="formList.length != 0">Alternative forms</ion-title>
    <ion-row class="formRow" *ngIf="formList.length != 0">
      <ion-col class="formCol" *ngFor="let pkmn of formList">
        <button class="btn-new" [style]="{'background': getTypeColor(pkmn.types[0])}" routerLink="/new/{{pkmn.nameEnglish}}" routerDirection="root">
          <img class="formImg" [src]="pkmn.regularForm">

          <ion-title class="imgTitle" *ngIf="pkmn.idNational < 10">#00{{pkmn.idNational}}</ion-title>
          <ion-title class="imgTitle" *ngIf="pkmn.idNational >= 10 && pkmn.idNational < 100">#0{{pkmn.idNational}}</ion-title>
          <ion-title class="imgTitle" *ngIf="pkmn.idNational >= 100">#{{pkmn.idNational}}</ion-title>

          <ion-title class="imgTitle">{{pkmn.nameEnglish}}</ion-title>
        </button>
      </ion-col>
    </ion-row>


    <ion-title *ngIf="pokemon.shinyAnimation != null" class="shinyTitle">Shiny forms</ion-title>
    <div *ngIf="pokemon.shinyAnimation != null" class="shinyBlock">
      <ion-row>
        <ion-col class="shinyCol">
          <img [src]="pokemon.regularAnimation">
        </ion-col>

        <ion-col class="shinyCol">
          <img [src]="pokemon.shinyAnimation">
        </ion-col>
      </ion-row>

      <ion-row *ngIf="pokemon.regularAnimationBack != null">
        <ion-col class="shinyCol">
          <img [src]="pokemon.regularAnimationBack">
        </ion-col>

        <ion-col class="shinyCol">
          <img [src]="pokemon.shinyAnimationBack">
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-button [disabled]="pokemon.shinyLocked" class="btn-hunt" [style]="{'--background': getTypeColor(pokemon.types[0])}" (click)="onAddPokemonToHunt(pokemon.nameEnglish)" routerLink="/tabs" routerDirection="root">
        Hunt !
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
